# Auto detect text files and perform LF normalization

# * text=auto
# Basic .gitattributes for a python repo.

# Source files
# ============
*.py     text diff=python
*.py3    text diff=python

/ linguist-documentation
